body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

input.error {
    border-color: red;
}

.input-feedback {
    color: red;
    height: 5px;
    margin-top: -12px;
}

#tours-overview {
    background: url(../src/assets/1-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    position: relative;
}

#tours-overview h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.452);
    font-size: 36px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
}

.filter-box,
.search-box {
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100%;
    text-align: center;
}

.filter-field,
.search-field {
    height: 50px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    outline: none;
    width: 30%;
    margin-right: 8px;
    font-family: inherit;
}

.filter-btn,
.search-btn {
    height: 50px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
    width: 20%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

.filter-btn:active,
.filter-btn:hover,
.search-btn:active,
.search-btn:hover {
    outline: none;
}

.search-box {
    top: 18%;
}

.login-container {
    background: url(../src/assets/2-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register-container {
    background: url(../src/assets/2-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Sets the dimensions of the entire scrollbar */
html::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#ff8a00),
        to(#e52e71)
    );
    background: linear-gradient(180deg, #ff8a00, #e52e71);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
        inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
    background: linear-gradient(
        90deg,
        #201c29,
        #201c29 1px,
        #100e17 0,
        #100e17
    );
}

.image-gallery-thumbnail-image {
    display: none;
}

.image-gallery-image {
    width: 100%;
    height: 500px;
}

.image-gallery button {
    display: none;
}
